
.content h1 {
    cursor: pointer;
}

*{

    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

.banner{


    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.30),rgba(0,0,0,0.40)),url(pic/woman-main.jpg);
    opacity: 95%;
    background-size: cover;
    background-position: center;
}


.navbar{

    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo{

    width: 80px;
    cursor: pointer;
    margin-right: 20px;
}


.navbar ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}


.navbar ul li a{
text-decoration: none;
color: rgb(240, 240, 240);
text-transform: uppercase;
font-weight: bold;

}


.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0% ;
    background: #960046;
    position: absolute;
    left: 0;
    bottom:-10px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}


.navbar ul li:hover::after{
    width:100%;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align:center;
    color: #fff;
}

.content h1{
font-size: 55px;
margin-top: 80px;
cursor: pointer;
}

.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    cursor: pointer;
}


button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    font-weight: bold;
    border: 2px solid #960046;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{
    background: #960046;
    height: 100%;
    width: 0%;
    border: radius 25px;
    position: absolute;
    left:0;
    bottom:0 ;
    z-index: -1;
    transition:0.5s;
}

button:hover span{
    width: 100%;
}

/*--footer style--*/
body{
    margin:0;
    overflow-x:hidden;
    }
    
    .footer{
    background:rgb(28, 31, 29);
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    }
    
    .footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
    }